<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2.5</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>

<body>
  <div id="app">
      <div v-if="count > 10">
           count > 10
      </div>
      <div v-else-if="count>=0 && count <=5 ">
           count <= 5
      </div>
      <div v-else>
           count=5
      </div>

      <div v-show="count == 1">
        show:{{count}}
      </div>
<!--
      <div v-for="item in list">
        {{item.name + item.age}}
      </div>
-->
<div v-for="user in list">
    <!--<div v-show="user.age > 30" v-bind:style="styleMsg">-->
        <div v-show="user.age<30" :class="['active','add','more',{'another':user.age<20}]" :style="styleMsg">
        {{user.name}}
        </div>
  
  <!--  <div v-else>
        {{user.age}}
    </div>
-->
</div>

  </div>
    
<script>
   var arr = 'new test'
   var app = new Vue({
       el:'#app',
       
       data:{
            count:100,
            styleMsg:{
                color:'red',
                textShadow:'0 0 5px #232323'
            },
            //list:[1,2,3,4,5]
            list:[{
                name:'liugang',
                age:18
            },
            { name:'lily',
              age:20},
            { name:'tom',
              age:50}]
        },
        methods:{
           
        }
    })
</script>
</body>
</html>