<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue实战5.2</title>
        <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    </head>
    <body>
       <div id="app">
         <p v-if="status === 1">当status为1时显示该行</p>
         <p v-else-if="status === 2">当status为2时显示该行</p>
         <p v-else>否则显示该行</p>

         <template v-if="status === 1">
                <p>这是一段文本</p>
                <p>这是一段文本</p>
                <p>这是一段文本</p>
            </template>
     
            <template v-if="type === 'name' ">
                <label>Username:</label>
                <input placeholder="Input username">
            </template>
            <template v-else>
                <lable>Email:</lable>
                <input placeholder="Input Email">
            </template>
            <button @click="handleToggleClick">Switch Type</button>
            
       </div> 

       

    </body>
    <script>
        var myapp = new Vue({
            el:"#app",
            data:{
                status:1,
                type:'name'
            },
            methods:{
               handleToggleClick:function() {
                   this.type = this.type === 'name' ? 'mail' : 'name';
               }
            }
        })
    </script>
</html>